My objective is to answer the question "where does the DC metro area need more transportation connects?"

The method I intend to use to answer this is making a census-tract to census-tract transportation model that will cover the DC metro area.  This model will make use of American Community Survey data on census-tract level commuting patterns, Google maps API data on routes and Federal Highway Administration data on traffic along major roads.  These will be used to make a model that will estimate the level of traffic generated along routes by commuters going from one census tract to the other.  With that model it will be possible to find which new transportation routes will do the most to alleviate traffic.

the tract-tract data will come from here: https://github.com/DataUSA/datausa-api/wiki/Data-API#yg_transport

The traffic volume data will come from here: https://www.fhwa.dot.gov/policyinformation/tables/tmasdata/

In [1]:
# Imports at the top.
import json
import urllib
import pandas as pd
import numpy as np
import requests
import json
import re
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
modes = 'transport_bicycle,transport_carpooled,transport_drove,transport_motorcycle,transport_other,transport_publictrans,transport_taxi,transport_walked,transport_home,workers'    
transport = requests.get('https://api.datausa.io/api/?show=geo&sumlevel=county&required='+modes)


pd.DataFrame(transport.json()['data'], columns=transport.json()['headers']).head()

,year,geo,transport_bicycle,transport_carpooled,transport_drove,transport_motorcycle,transport_other,transport_publictrans,transport_taxi,transport_walked,transport_home,workers
0,2013,05000US01001,20.0,1735.0,21372.0,87.0,157.0,39.0,0.0,224.0,510.0,24144.0
1,2013,05000US01003,352.0,8046.0,67474.0,187.0,624.0,163.0,11.0,1010.0,2752.0,80619.0
2,2013,05000US01005,15.0,1113.0,7532.0,0.0,150.0,8.0,0.0,156.0,189.0,9163.0
3,2013,05000US01007,0.0,1092.0,6528.0,15.0,63.0,13.0,0.0,39.0,95.0,7845.0
4,2013,05000US01009,0.0,2887.0,18816.0,3.0,69.0,61.0,0.0,242.0,502.0,22580.0

https://catalog.data.gov/dataset/national-household-travel-survey-download-data-78e48